<div class="about-main-container">
  <div class="about-header" style="margin-bottom: -67px;">
    <%= image_tag '/images/birdfeed-header.jpg' %>

    <div class="success-banner signup-logo">
      <div class="success-logo">
        <%= image_tag 'icons/flash.svg', class: "flash-lightning" %>
        <%= image_tag 'birdfeed-logo-white.png', class: 'success-logo-img' %>
      </div>

      <div class="text-1">
        <%= image_tag 'icons/red-bird.svg', class: "d-inline" %>
        What is bird feed ?
      </div>

      <div class="text-2 about-text-2">
        A PLAYGROUND FOR OUR  DIRTYBIRD  PEEPS
      </div>

      <div class="success-bottom about-success-bottom">
        LISTEN &nbsp; &nbsp; &nbsp; // &nbsp; &nbsp; &nbsp; CONNECT &nbsp; &nbsp; &nbsp; // &nbsp; &nbsp; &nbsp; PLAY
      </div>
    </div>
  </div>

  <div class="divider"></div>
  <div class="background-1"></div>
  <div class="background-2"></div>
  <div class="background-3"></div>

  <div class="second-container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="second-container-heading">Listen</div>
          <div class="left-arrow"><%= image_tag 'about/left_arrow.png' %></div>
        </div>
        <div class="row">
          <div class="second-container-subheading">STREAM, DOWNLOAD & Engage </div>
        </div>
      </div>
      <div class="col-md-2 top-row-btn-group">
        <%= link_to listen_path do %>
          <div class="listen-btn-top">Listen</div>
        <% end %>
      </div>
      <div class="col-md-2 top-row-btn-group">
        <%= link_to connect_path do %>
        <div class="listen-btn-top">Connect</div>
        <% end %>
      </div>
      <div class="col-md-2 top-row-btn-group">
        <%= link_to play_path do %>
        <div class="listen-btn-top">Play</div>
        <% end %>
      </div>
    </div>
    <div class="row second-container-row">
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/music_bars_cloud.png' %></div>
        <div class="music-bars-cloud-heading">Stream IT</div>
        <div class="music-bars-cloud-description">Stream from the entire catalog of Dirtybird music, create playlists  and stream unlimited amounts of Dirtybird</div>
      
      </div>
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/download_cloud.png' %></div>
        <div class="music-bars-cloud-heading">DOWNLOAD IT</div>
        <div class="music-bars-cloud-description">Become a VIB member and receive 10 egg credits a month to download the latest releases remixes exclusives andback catalog tracks & releases.</div>
      </div>
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/rate_cloud.png' %></div>
        <div class="music-bars-cloud-heading">ENGAGE</div>
        <div class="music-bars-cloud-description">Put your mark on the music by adding your rating on each track you listen to, add comments to a release feed and spark up conversation in the community about the music you love.  </div>
      </div>
    </div>
    <div class="row second-container-row">
      <div class="col-md-2">
        <%= link_to new_user_registration_path do %>
          <div class="listen-btn-top">Join Now</div>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to listen_path do %>
          <div class="listen-btn-top listen-btn">Listen</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="second-container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="second-container-heading">Connect</div>
          <div class="left-arrow"><%= image_tag 'about/left_arrow.png' %></div>
        </div>
        <div class="row">
          <div class="second-container-subheading">GAMES, AchieveMents & Rewards</div>
        </div>
      </div>
    </div>
    <div class="row second-container-row">
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/community_cloud.png' %></div>
        <div class="music-bars-cloud-heading">Community</div>
        <div class="music-bars-cloud-description">A network built for Dirtybird minded music fans from the afficianado to the new listener Birdfeed is the place to get excited about the sounds of Dirtybird.</div>
      </div>
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/culture_cloud.png' %></div>
        <div class="music-bars-cloud-heading">Culture</div>
        <div class="music-bars-cloud-description">Express yourself and let your feathers fly, Birdfeed is that place where your inner bird is appreciated.</div>
      </div>
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/friends_cloud.png' %></div>
        <div class="music-bars-cloud-heading">Friends</div>
        <div class="music-bars-cloud-description">Connect with your Dirtybird fam and get to know the even more like minded Birds just like you. Help us keep the culture, add to the flock and represent Dirtybird by sharing.</div>
      </div>
    </div>
    <div class="row second-container-row">
      <div class="col-md-2">
        <%= link_to new_user_registration_path do %>
          <div class="listen-btn-top" style="background-color: #ff7979;">Join Now</div>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to listen_path do %>
          <div class="listen-btn-top" style="background-color: white; color: #ff7979 !important">Listen</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="second-container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="second-container-heading">Play</div>
          <div class="left-arrow yellow"><%= image_tag 'about/left_arrow_yellow.png' %></div>
        </div>
        <div class="row">
          <div class="second-container-subheading">GAMES, AchieveMents & Rewards</div>
        </div>
      </div>
    </div>
    <div class="row second-container-row">
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/puzzle_cloud.png' %></div>
        <div class="music-bars-cloud-heading">Community</div>
        <div class="music-bars-cloud-description">A network built for Dirtybird minded music fans from the afficianado to the new listener Birdfeed is the place to get excited about the sounds of Dirtybird.</div>
      </div>
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/achievements_cloud.png' %></div>
        <div class="music-bars-cloud-heading">Culture</div>
        <div class="music-bars-cloud-description">Express yourself and let your feathers fly, Birdfeed is that place where your inner bird is appreciated.</div>
      </div>
      <div class="col-md-4 sencond-container-items">
        <div class="music-bars-cloud"><%= image_tag 'about/rewards_cloud.png' %></div>
        <div class="music-bars-cloud-heading">Friends</div>
        <div class="music-bars-cloud-description">Connect with your Dirtybird fam and get to know the even more like minded Birds just like you. Help us keep the culture, add to the flock and represent Dirtybird by sharing.</div>
      </div>
    </div>
    <div class="row second-container-row">
      <div class="col-md-2">
        <%= link_to new_user_registration_path do %>
          <div class="listen-btn-top" style="background-color: white; color: #3ed4e0 !important">Join Now</div>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to listen_path do %>
          <div class="listen-btn-top">Listen</div>
        <% end %>
      </div>
    </div>
  </div>

</div>

