#myCarousel.carousel
  = image_tag 'listen_page/EKj96h9_copy.jpg'
%center(style='margin-top: -18rem;position: relative;')
  = image_tag 'connect_page/banner.png'
%div(style='margin-top: 2rem;')
  .div.signup-panel.c-panel.bg-white
    %br
    .col-sm-12.display-inline(style='padding-right: 0px color: white;')
      .col-sm-4
        = link_to new_user_registration_path do
          .btn.c-btn-red.btn-square(style='width: 150px;')
            Join Now
      .col-sm-2
        = link_to what_is_birdfeed_path do
          .btn.c-btn-blue.btn-square(style='width: 150px;')
            What is Birdfeed?
      .col-sm-2
        = link_to listen_path do
          .btn.c-btn-blue.btn-square(style='width: 150px;')
            Listen
      .col-sm-2
        = link_to connect_path do
          .btn.c-btn-red.btn-square(style='width: 150px;')
            Connect
      .col-sm-2
        = link_to play_path do
          .btn.c-btn-blue.btn-square(style='width: 150px;')
            Play
    %center
      %br
      %h2.h2-eggs.text-red
        COmmunity INcentives
    .row.mb-4.pb-4
      .col-sm-6
        %h3.h3-eggs.text-left Discounts, INcentives & Bonuses
        %p.text-left
          Free ad paid members alike can communicate and correspond with each other in Birdfeed. Ask quetions get feed back and correspond with each other
        %br
        %h3.h3-eggs.text-left Chirp Questions & Discussions
        %p.text-left
          Available for free and paid members our forum is available for all to use to ask questions and engage the brand and music industry. FInd tracks you cannot find, Learn more about events and get to know the community through their answers
      .col-sm-6
        %h3.h3-eggs.text-left Insider AnnoucEments
        %p.text-left
          Hear it first in Birdfeed we’ve got all the latest news updates on the major things going on in Dirtybird as well in the music industry. We pride ourselves on making sure our birdfeed members know first.
        %br
        %h3.h3-eggs.text-left GuestLists & Exclusive Event offers
        %p.text-left
          Get the the invites first to all Dirtybird events at large and in your specific area. Birdfeed is that place where our peeps get the invites the general comunnity at large does not.
    %center
      %br
      %h2.h2-eggs.text-red
        Artists & Friends
    .row.mb-4.pb-4
      .col-sm-12.display-inline(syle='margin-top: -1rem;')
        .col-sm-6
          %h3.h3-eggs.text-left Engage your FAVORITE ARTISTS
          %p.text-left
            with a growing list of artists from the Dirtybird label you will continue to be able to enage artsits on their level as well as continue to grow your connection to the people creating the music you love.
          = image_tag 'connect_page/Path_824.png'
        .col-sm-6
          = image_tag 'connect_page/5-layers (1).png'
          %h3.h3-eggs.text-left The Dirtybird COmmunity At Large
          %p.text-left
            Birdfeed is a home for Dirtybird fans from around the world as a member you will have access to the entire group of like minded indiviuals who also love the Dirtybird sound.
          %h3.h3-eggs.text-left CREATE YOUR DIRTYBIRD CLICK
          %p.text-left
            Birdfeed allows you to connect with your favorite Peeps and build a network of like minded individuals to connect with online and in person.

    %div(style='margin-top: 2rem;')
      .col-sm-12.display-inline(style='padding-right: 0px color: white;')
        .col-sm-4
          = link_to new_user_registration_path do
            .btn.c-btn-red.btn-square(style='width: 150px;')
              Join Now
        .col-sm-2
          = link_to what_is_birdfeed_path do
            .btn.c-btn-blue.btn-square(style='width: 150px;')
              What is Birdfeed?
        .col-sm-2
          = link_to listen_path do
            .btn.c-btn-blue.btn-square(style='width: 150px;')
              Listen
        .col-sm-2
          = link_to connect_path do
            .btn.c-btn-red.btn-square(style='width: 150px;')
              Connect
        .col-sm-2
          = link_to play_path do
            .btn.c-btn-blue.btn-square(style='width: 150px;')
              Play